.container{
    width: 90%;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 100px;
}

button{
    background-color: rgb(86, 198, 129);
    border-radius: 10%;
    padding: 10px;
    font-size: 20px;
}

input{
    border-radius: 5%;
    padding: 10px;
    font-size: 20px;
}